<body>
    <h2>I am a student of the 2nd year of Vinnytsia National Technical University, specialty 121 "Software engineering"

    </h2>
<div class="vnty">
    Vinnytsia National Technical University (VNTU) is a Ukrainian institution of higher education of the fourth level of accreditation, which trains engineering and technical specialists. The institution is the center of education, science and culture of the Podilsk region.

     VNTU was established in accordance with the Resolution of the Cabinet of Ministers of Ukraine No. 244 dated 20.04.94 on the basis of the Vinnytsia Polytechnic Institute, based on the state form of ownership and subordinate to the Ministry of Education and Science, Youth and Sports of Ukraine. By the Decree of the President of Ukraine No. 868/2003 of August 21, 2003, the University was granted national status.
</div>
</body>
