<body>
<div class="skils-information"><p>Мої навички включають володіння такими мовами: мова розмітки HTML, а також мовами програмування, такими як CSS, JavaScript, TypeScript. Також я маю навички використання системи контролю версій Git. Практикуюсь у написанні веб-додатків на фреймворку Angular. Також в університеті ми вивчали такі мови програмування, як C++, Java, і я маю сертифікат базового володіння мовою Python
    </p>
</div>
    
<div class="cards">
    <p><span><i class='bx bxl-html5'></i></span></p>
    <p><span><i class='bx bxl-css3' ></i></span></p>
    <p><span><i class='bx bxl-typescript'></i></span></p>
    <p><span><i class='bx bxl-nodejs'></i></span></p>
    <p><span><i class='bx bxl-git'></i></span></p>
    
</div>
</body>