<body>
<div class="skils-information"><p>My skills include knowledge of the following languages: HTML markup language, as well as programming languages ​​such as CSS, JavaScript, TypeScript. I also have the skills to use the Git version control system. I practice writing web applications on the Angular framework. Also at university we studied programming languages ​​like C++, Java, and I have a certificate of basic proficiency in Python.
    </p>
</div>
    
<div class="cards">
    <p><span><i class='bx bxl-html5'></i></span></p>
    <p><span><i class='bx bxl-css3' ></i></span></p>
    <p><span><i class='bx bxl-typescript'></i></span></p>
    <p><span><i class='bx bxl-nodejs'></i></span></p>
    <p><span><i class='bx bxl-git'></i></span></p>
    
</div>
</body>